<!DOCTYPE html>
<html lang="en" th:replace="base::layout(~{::section})" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>This is Home Page</title>
</head>
<body>
<section class="banner d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h1 class="font-weight-bold">Smart Contact Manager</h1>
        <p>Start collecting your contacts in a smart way. We provide very smart and efficient way of handling
            contacts.</p>
        <button class="btn bg-primary btn-lg text-white"><a class="nav-link text-white" href="" th:href="@{/signin}">Get Started</a> </button>
    </div>
</section>
</body>
</html>